.pytest_cache/
__pycache__/
tempCodeRunnerFile.py
*.code-workspace
.fuse*
test*.*
!test_*.py
.env
/data
*.xlsx
.venv
.vscode
*.pem
/data_obs
gunicorn.log
/data_agg_csv
assets/papaparse.min.js
id_ed25519*
/ICB
*.xlsm
/ICB_EC2
*.graphml
*.pdf
/src/pages/dynamic-*
src/lines.ipynb
src/correlation.ipynb
src/description.ipynb
src/coortest.ipynb
src/cleaning.ipynb
src/analysis.py
test/test_dash.py
/config/.sync
config/marcas.db
config/estabelecimentos.db
config/products.db
