annotated-types==0.7.0
asttokens==3.0.0
attrs==25.3.0
beautifulsoup4==4.13.5
blinker==1.9.0
Brotli==1.1.0
cachelib==0.13.0
certifi==2025.8.3
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.3
chromedriver-autoinstaller==0.6.4
click==8.2.1
comm==0.2.3
contourpy==1.3.3
cramjam==2.11.0
cryptography==45.0.7
cycler==0.12.1
dash==3.2.0
dash-bootstrap-components==2.0.4
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash_ag_grid==32.3.1
dash_auth==2.3.0
dash_dangerously_set_inner_html==0.0.2
dash_mantine_components==2.2.1
dataclass-wizard==0.35.1
dateparser==1.2.2
debugpy==1.8.16
decorator==5.2.1
dill==0.4.0
EditorConfig==0.17.1
et_xmlfile==2.0.0
execnet==2.1.1
executing==2.2.1
fastjsonschema==2.21.2
Flask==3.1.2
Flask-Caching==2.3.1
Flask-Compress==1.18
fonttools==4.59.2
fsspec==2025.9.0
greenlet==3.2.4
gunicorn==23.0.0
h11==0.16.0
idna==3.10
importlib_metadata==8.7.0
iniconfig==2.1.0
ipykernel==6.30.1
ipython==9.5.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.2
jsbeautifier==1.15.4
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter_client==8.6.3
jupyter_core==5.8.1
kiwisolver==1.4.9
lxml==6.0.1
MarkupSafe==3.0.2
matplotlib==3.10.6
matplotlib-inline==0.1.7
more-itertools==10.8.0
multiprocess==0.70.18
narwhals==2.4.0
nbformat==5.10.4
nest-asyncio==1.6.0
numpy==2.3.2
openpyxl==3.1.5
orjson==3.11.3
outcome==1.3.0.post0
packaging==25.0
pandas==2.3.2
parso==0.8.5
patsy==1.0.1
percy==2.0.2
pexpect==4.9.0
pillow==11.3.0
pip-review==1.3.0
platformdirs==4.4.0
playwright==1.55.0
plotly==6.3.0
pluggy==1.6.0
prompt_toolkit==3.0.52
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==21.0.0
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
pyee==13.0.0
Pygments==2.19.2
pyOpenSSL==25.1.0
pyparsing==3.2.3
PySocks==1.7.1
pytest==8.4.2
pytest-base-url==2.1.0
pytest-playwright==0.7.1
pytest-xdist==3.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-slugify==8.0.4
pytz==2025.2
pyzmq==27.1.0
pyzstd==0.17.0
RapidFuzz==3.14.1
referencing==0.36.2
regex==2025.9.1
reportlab==4.4.3
requests==2.32.5
retrying==1.4.2
rpds-py==0.27.1
scikit-learn==1.7.1
scipy==1.16.1
screeninfo==0.8.1
seaborn==0.13.2
selenium==4.35.0
Send2Trash==1.8.3
setuptools==80.9.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8
stack-data==0.6.3
statsmodels==0.14.5
tenacity==9.1.2
text-unidecode==1.3
threadpoolctl==3.6.0
tornado==6.5.2
traitlets==5.14.3
trio==0.30.0
trio-websocket==0.12.2
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.5.0
urllib3-secure-extra==0.1.0
wcwidth==0.2.13
websocket-client==1.8.0
Werkzeug==3.1.3
wsproto==1.2.0
xlsxwriter==3.2.5
zipp==3.23.0
zstandard==0.24.0
