html{scroll-padding-top:80px}
.foregroundAbsolute{position:absolute;top:0;left:0;width:100%;z-index:10;pointer-events:none}
.navigation{display:flex;flex-wrap:wrap;justify-content:space-evenly;width:100%}
.navigation>*{flex:1 0 calc(100%/7);text-align:center}
.icon{max-height:20px}
.unclickable{pointer-events:none;cursor:not-allowed;filter:blur(3px)}
.form-control:focus{scale:1.01;box-shadow:0 0 20px #cc00ff}
.form-control{scroll-margin-bottom:50vh}
.unwrap{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
@keyframes pulse{0%{transform:scale(1)}50%{transform:scale(1.15)}}
.pulse-icon{float:inline-end;animation:pulse 2s ease-in-out infinite}
.icon-red{filter: invert(12%) sepia(79%) saturate(7495%) hue-rotate(357deg) brightness(109%) contrast(111%)}
.icon-orange{filter: invert(66%) sepia(29%) saturate(4461%) hue-rotate(1deg) brightness(106%) contrast(104%)}
.icon-green{filter: invert(28%) sepia(58%) saturate(2191%) hue-rotate(94deg) brightness(95%) contrast(104%)}
.collapse{transition: height 0.0s ease}
