canvas#confetti {
    position: absolute;
    top: 0;left: 0;
    width: 100%;z-index: 1;
    pointer-events: none
}
h1 {text-align: center}
.correct {border: 2px solid green}
.wrong {border: 2px solid red}
